:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: gamefont;
    src: url('./src/assets/fonts/gamefont.woff');
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;
}

#game>canvas {
    width: 100dvw;
    height: 100dvh;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.screens {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    position: absolute;
}

.overlay {
    background-color: black;
    opacity: 0.5;
}

#game-logo {
    width: 10rem;
    border-radius: 3vh;
    margin-bottom: 2rem;
}

#spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

#spinner-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
}

#spinner-inner-arc {
    width: 1.5rem;
    height: 1.5rem;
    border-color: #fff #fff transparent;
    animation: rotation 2s 0s linear infinite;
}

#spinner-middle-arc {
    width: 2.75rem;
    height: 2.75rem;
    border-color: #fff #fff transparent;
    animation: rotation 2s 0s linear infinite reverse;
}

#spinner-outer-arc {
    width: 4rem;
    height: 4rem;
    border-color: #fff #fff transparent;
    animation: rotation 2s -0.5s linear infinite;
}

.spinner-arc {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        display: flex;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

@keyframes fadein-shift {
    from {
        display: none;
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        display: flex;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeout-shift {
    from {
        display: flex;
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        display: none;
        opacity: 0;
        transform: translateY(20px);
    }
}

.shown {
    animation: fadein 0.2s ease-in forwards;
}

.hiding {
    animation: fadeout 0.15s ease-out forwards;
}

.hidden {
    display: none;
}

.hint {
    position: absolute;
    background-repeat: no-repeat;
    width: 10vmax;
    height: 12.5vmax;
    top: 68dvmax;
    left: 47dvmin;
    /* background-size: 1691%; */
}

.hint-sprite {
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/pointer.png');
    animation: animate-sprite 1.2s steps(19) infinite;
    background-size: 1900% 100%;
}

@keyframes animate-sprite {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -1900% 0px;
    }
}

.menu.shown {
    animation: none;
}

.button {
    padding: 1rem 6rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 2.5rem;
    pointer-events: all;
    /* text-transform: uppercase; */
    background-color: #6961ff;
    color: #eee;
    border: none;
    text-shadow: 2px 2px 0px #413bb2;
    box-shadow: 2px 4px 0px #413bb2;
    /* margin-top: min(20vh, 20vw); */
    cursor: pointer;
}

.menu {
    background-image: url('./assets/images/menu-background.jpg');
    background-size: cover;
    background-position: center center;
    animation-duration: 0.5s;
}

.menu>.button {
    position: absolute;
    bottom: min(15vh, 30vw);
}

.pulse {
    animation: zoom-in 3s cubic-bezier(0.17, 0.67, 0.69, 1.22) forwards;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

@keyframes zoom-in {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(0.95);
    }

    10% {
        transform: scale(1);
    }
}

.end>.overlay {
    opacity: 0.7;
}

@media (orientation: landscape) {
    .hint {
        width: 10vmin;
        height: 12.5vmin;
        top: 68vmin;
        left: 48vmax;
    }
}